.calendar-parent {
  display: flex;
  height: 100%;
}

.calendar-component {
  flex: 1;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}

.calendar-day,
.calendar-date {
  border: 2px solid yellow;
  flex: 1;
  display: flex;
}

.calendar-main {
  flex: 8;
}
