.header-parent {
  display: flex;
  height: 100%;
}

.header-component {
  flex: 1;
  border: 2px solid blue;
}

.header-logo {
  flex: 1;
  border: 2px solid blue;
  display: flex;
  align-items: center;
  justify-content: end;
}

.header-name {
  flex: 4;
  display: flex;
  align-items: center;
}

.header-name h1 {
  font-size: 18px;
}

.header-calendar-month-year {
  flex: 10;
}

.header-calendar-month-year h2 {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.header-previous-week,
.header-next-week {
  display: flex;
  align-items: center;
}

.header-previous-week {
  justify-content: end;
}

.header-search,
.header-settings {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-user {
  flex: 4;
}

/* Drop down menu */
.header-logo {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  left: 5px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-item {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
