.notes-parent {
  display: flex;
  height: 100%;
}

.textarea {
  height: 100%;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  resize: none;
  border: none;
}

.textarea::placeholder {
  color: #999;
}

.notes-component {
  border: 2px solid black;
}

.notes-textarea {
  flex: 2;
}

.notes-archive {
  flex: 1;
}
