.tasks-parent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tasks-component {
  border: 2px solid red;
  flex: 15;
}

.tasks-header {
  flex: 1.25;
}

.tasks-archive {
  flex: 1;
}
