.home-container {
  display: flex;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-container {
  border: 2px solid black;
  flex: 2.25;
  height: 100vh;
  overflow-y: auto;
}

.tasks-container {
  flex: 1;
}

.calendar-and-notes-container {
  display: flex;
  flex-direction: column;
}

.calendar-container,
.notes-container {
  border: 2px solid red;
  flex: 2;
}

.notes-container {
  flex: 1;
}
