* {
  box-sizing: border-box;
}

.home-container {
  display: flex;
  height: 100vh;
}

.section-container {
  flex: 1;
}

.tasks-container {
  flex: 1;
  border: 2px solid black;
}

.calendar-and-notes-container {
  flex: 2.25;
  display: flex;
  flex-direction: column;
}

.calendar-container {
  flex: 2.25;
}

.notes-container {
  flex: 1;
  border: 2px solid black;
}
